#navbar button,
#navbar a h1{
  display: inline !important;
  width: 28%;
}
#logo{
  display: inline;
  max-width: fit-content !important;
}
#navbar{
  display: block;
  margin: 1em auto;
  width: 100%;
}