#navbar button,
#navbar a h1{
  display: inline !important;
  width: 28%;
}
#logo{
  display: inline;
  max-width: fit-content !important;
}
#navbar{
  display: block;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  height: 3.5em;
}

#profilePicture{
  width: 100%;
  height: 55vh;

}
#profilePicture img{
  display: block;
  max-width: 90%;
  margin: 1em auto;
}



.msg{
  border-radius: 10px;
  margin: .2em auto;
  width: 51%;
  grid-template-columns: 92% 8%;
  grid-template-rows:  auto auto;
  display: inline-grid;
}

.currentUserMsg{
  background-color: lightskyblue;
  float: right;
}

.otherUserMsg{
  background-color: lightgrey;
  float: left;
}

#messageInput{
  position: fixed;
  bottom:0;
  height: 2em;
  width:95%;
  display: block;
  margin: 0 auto;
}

#conversationBox{
  margin-top: 4.1em;
  margin-bottom: 3em;
  // padding-bottom: 3em;
  height: calc(100vh - 6em);
  overflow: auto;
}

.msgtext{
  padding:.3em;
  font-size: 1em;
  grid-row-start: 1;
  margin: .3em;
}

#containerBox{
  margin-top: 5.1em;
}

.msgName{
  font-size: .6em;
  margin: .3em;
  padding: .3em;
  grid-row-start: 2;
  grid-column-start: span 2;
}

.deleteButton{
  grid-row-start: 1;
  grid-column-start: 2;
}

.timestamp{
  grid-row-start: 2;
}

.centered{
  text-align: center;   
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: black;
}
.tinyPic{
  width: 90%;
  padding-right: .2em;
  margin: .3em;
  display: block;
}
.userBlock{
  display: inline-grid;
  grid-template-columns: 25% 75%;
  border: 1px solid black;
}
.userBlockPic{
  grid-column-start: 1;
}
.userBlockInfo{
  grid-column-start: 2;
  min-height: 65px;
}

.mapBox{
  // margin-top: 5.7em;
  height: 87vh;
  width: 96vw;
}

#infoWindow{
  max-width: 50vw;
}

.infoWindowPic{
  width: 35vw;
}

.infoWindowAnchor{
  color: red;
  font-style: italic;
}

.infoWindowInstruments{
  font-size: .7em;
}

.hasPracticeSpace{
  color: red;
}

.mapIntro{
  margin-top: 5.1em;
}