#navbar button,
#navbar a h1{
  display: inline !important;
  width: 28%;
}
#logo{
  display: inline;
  max-width: fit-content !important;
}
#navbar{
  display: block;
  margin: 1em auto;
  width: 100%;
}

#profilePicture{
  width: 100%;
  height: 55vh;

}
#profilePicture img{
  display: block;
  max-width: 90%;
  margin: 1em auto;
}

.searchResultsPic{
  width: 10%;
}

.currentUserMsg{
  background-color: lightskyblue;
}

.otherUserMsg{
  background-color: lightslategrey;
}

#messageInput{
  position: absolute;
  bottom:0;
  width:100%;
}