#navbar button,
#navbar a h1{
  display: inline !important;
  width: 28%;
}
#logo{
  display: inline;
  max-width: fit-content !important;
}
#navbar{
  display: block;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  height: 3em;
}

#profilePicture{
  width: 100%;
  height: 55vh;

}
#profilePicture img{
  display: block;
  max-width: 90%;
  margin: 1em auto;
}

.searchResultsPic{
  width: 10%;
}

.msg{
  border-radius: 10px;
  margin: .2em auto;
  width: 51%;
}

.currentUserMsg{
  background-color: lightskyblue;
  float: right;
}

.otherUserMsg{
  background-color: lightgrey;
  float: left;
}

#messageInput{
  position: fixed;
  bottom:0;
  height: 2em;
  width:100%;
  display: block;
  margin: 0 auto;
}

#conversationBox{
  margin-top: 3.2em;
  margin-bottom: 2.8em;
  height: calc(100vh - 5em);
  overflow-y: scroll;
}

.text{
  padding:.3em;
  font-size: 1em;
}

#containerBox{
  margin-top: 3.2em;
}

.msgName{
  font-size: .6em;
  padding: .3em;
}