<div id="homePage">
  <div class="centered">
    <hr>
    <h3>Welcome {{displayUserName}}!!!</h3>
    
    <br>
    <a class="button is-info" ng-href="#!/searchPage"><i class="fas fa-search"></i>&nbsp; Search</a>
    <br>
    <br>
    <a class="button is-info" ng-href="#!/messages"><i class="fas fa-envelope"></i>&nbsp; Messages</a>
    <br>
    <br>
    <a class="button is-info" ng-href="#!/mapPage" ><i class="fas fa-map-marker-alt"></i>&nbsp; Map of JAMMRs</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a class="button is-info is-outlined" ng-href="#!/profilePage/{{uid}}" ><i class="fas fa-user"></i>&nbsp;My Profile</a>
    <br>
    <br>
    <a class="button is-info is-outlined" ng-click="logout()">LOGOUT</a>
  
  </div>
</div>
