<div id="containerBox">
  <hr>
  <h3 class="centered">Messages</h3>
  <div ng-repeat="convo in conversationList">
    <div class="card">
      <a ng-href="#!/conversation/{{convo.convoId}}">
        <div class="userBlock">
          <div class="userBlockPic">
            <img class="tinyPic" ng-src="{{convo.otherUserPic}}">
          </div>
          <div class="userBlockInfo">
            <div><b>{{convo.otherUserName}}</b></div>
          </div>
        </div>
      </a>

    </div>

  </div>

</div>