<div id="containerBox">
  <div id="profilePicture">
    <img ng-show="picToDisplay" ng-src="{{picToDisplay}}" class="profilePicture">
    <!-- <img ng-if="!picToDisplay" ng-show="!picToDisplay" class="profilePicture" ng-src="images/alternatePic.jpg"/> -->
  </div>
  
  <div ng-show="!editing" class="profile">
    <div class="profileIcons centered">
      <a class="button is-info" ng-show="myProfile" ng-click="editing=true">
        <i class="fas fa-edit"></i>&nbsp; Edit Profile
      </a>
      <a class="button is-info" ng-show="!myProfile" ng-click="beginConvo()">
        <i class="fas fa-envelope"></i> &nbsp; Message {{newProfileObj.name}}
      </a>
      <a class="button is-info" ng-show="!myProfile" ng-href="#!/mapPage/{{currentProfileUid}}" >
        <i class="fas fa-map-marker-alt"></i>&nbsp; Locate {{newProfileObj.name}}
      </a>
    </div>
    <br>
    <div class="profileInfoContainer">
      <div ng-show="newProfileObj.hasPracticeSpace" class="hasPracticeSpace centered">THIS USER OWNS A PRACTICE SPACE </div>
      <div>Name: {{newProfileObj.name}}</div>
      <div>Age: {{newProfileObj.age}}</div>
      <div>Experience: {{newProfileObj.experience}} years</div>
  
      <div>Instruments: 
        <span ng-show="newProfileObj.guitar">Guitar </span>
        <span ng-show="newProfileObj.bass">Bass </span>
        <span ng-show="newProfileObj.drums">Drums </span>
        <span ng-show="newProfileObj.vocals">Vocals </span>
        <span ng-show="newProfileObj.keyboard">Keyboard </span>
        <span ng-show="newProfileObj.violin">Violin </span>
        <span ng-show="newProfileObj.saxophone">Saxophone </span>
        <span ng-show="newProfileObj.trumpet">Trumpet </span>
        <span ng-show="newProfileObj.trombone">Trombone </span>
      </div>
      <div ng-show="newProfileObj.otherInstruments">Other Instruments: {{newProfileObj.otherInstruments}}</div>
      <div>Interests: 
          <span ng-show="newProfileObj.professionalBand">Band-Professional </span>
          <span ng-show="newProfileObj.hobbyBand">Band-Hobby </span>
          <span ng-show="newProfileObj.jam">Jam </span>
          <span ng-show="newProfileObj.chat">Chat </span>
          <span ng-show="newProfileObj.learn">Learn </span>
          <span ng-show="newProfileObj.session">Session </span>
          <!-- <span ng-show="newProfileObj.saxophone">saxophone </span> -->
          <!-- <span ng-show="newProfileObj.trumpet">trumpet </span> -->
          <!-- <span ng-show="newProfileObj.trombone">trombone </span> -->
      </div>
      <div ng-show="newProfileObj.otherInterests">Other Interests: {{newProfileObj.otherInterests}}</div>
      <div>Genres: 
        <span ng-show="newProfileObj.pop">Pop </span>
        <span ng-show="newProfileObj.rock">Rock </span>
        <span ng-show="newProfileObj.rnb">RnB </span>
        <span ng-show="newProfileObj.funk">Funk </span>
        <span ng-show="newProfileObj.metal">Metal </span>
        <span ng-show="newProfileObj.punk">Punk </span>
        <span ng-show="newProfileObj.folk">Folk </span>
        <span ng-show="newProfileObj.indie">Indie </span>
        <span ng-show="newProfileObj.rap">Rap </span>
        <span ng-show="newProfileObj.electronic">Electronic </span>

      </div>
      <div ng-show="newProfileObj.otherGenres">Other Genres: {{newProfileObj.otherGenres}}</div>
    </div>
  </div>
  
  <div ng-show="editing" class="profileInfoContainer">
    <div class='centered'>
      <a class="button is-info" ng-click="saveProfile(newProfileObj)">
        <i class="fas fa-save"></i>&nbsp; Save Profile
      </a>
    </div>
    
    <div class="field">
      <label class="label is-small">Picture URL</label>
      <div class="control">
        <input class="input is-small" type="text" ng-model="newProfileObj.profilePicture" placeholder="Experience"/>
      </div>
    </div>
    <div class="field">
      <label class="label is-small">Name</label>
      <div class="control">
        <input class="input is-small" type="text" ng-model="newProfileObj.name" placeholder="Experience"/>
      </div>
    </div>
    <div class="field">
      <label class="label is-small">Age</label>
      <div class="control">
        <input class="input is-small" type="number" ng-model="newProfileObj.age" placeholder="Experience"/>
      </div>
    </div>  
    <div class="field">
      <label class="label is-small">Years of Experience</label>
      <div class="control">
        <input class="input is-small" type="number" ng-model="newProfileObj.experience" placeholder="Experience"/>
      </div>
    </div>
    <div class="field">
      <label class="label is-small">Zip Code</label>
      <div class="control">
        <input class="input is-small" type="number" ng-model="newProfileObj.zipCode" placeholder="Experience"/>
      </div>
    </div>
    
    <div>I can provide a practice space: <input type="checkbox" ng-model="newProfileObj.hasPracticeSpace">
    </div>

    <div><b>Instruments:</b>
      <br><input type="checkbox" ng-model="newProfileObj.guitar">Guitar
      <br><input type="checkbox" ng-model="newProfileObj.bass">Bass
      <br><input type="checkbox" ng-model="newProfileObj.drums">Drums
      <br><input type="checkbox" ng-model="newProfileObj.vocals">Vocals
      <br><input type="checkbox" ng-model="newProfileObj.keyboard">Keyboard
      <br><input type="checkbox" ng-model="newProfileObj.violin">Violin
      <br><input type="checkbox" ng-model="newProfileObj.saxophone">Saxophone
      <br><input type="checkbox" ng-model="newProfileObj.trumpet">Trumpet
      <br><input type="checkbox" ng-model="newProfileObj.trombone">Trombone
    </div>

    <div class="field">
      <label class="label is-small">Other Instruments</label>
      <div class="control">
        <input placeholder="other instruments" class="input is-small" type="text" ng-model="newProfileObj.otherInstruments"/>
      </div>
    </div>
    <div>
      
    </div>
    <div><b>Interests</b>
      <br><input type="checkbox" ng-model="newProfileObj.professionalBand">Band - Professional
      <br><input type="checkbox" ng-model="newProfileObj.hobbyBand">Band - Hobby
      <br><input type="checkbox" ng-model="newProfileObj.jam">Jam
      <br><input type="checkbox" ng-model="newProfileObj.chat">Chat
      <br><input type="checkbox" ng-model="newProfileObj.learn">Learn
      <br><input type="checkbox" ng-model="newProfileObj.session">Session
      <!-- <br><input type="checkbox" ng-model="newProfileObj.saxophone">Saxophone -->
      <!-- <br><input type="checkbox" ng-model="newProfileObj.trumpet">Trumpet -->
      <!-- <br><input type="checkbox" ng-model="newProfileObj.trombone">Trombone -->
    </div>
    <div class="field">
      <label class="label is-small">Other Interests</label>
      <div class="control">
        <input placeholder="other interests" class="input is-small" type="text" ng-model="newProfileObj.otherInterests"/>
      </div>
    </div>
    <div><b>Genres:</b> 
      <br><input type="checkbox" ng-model="newProfileObj.pop">Pop 
      <br><input type="checkbox" ng-model="newProfileObj.rock">Rock 
      <br><input type="checkbox" ng-model="newProfileObj.rnb">RnB 
      <br><input type="checkbox" ng-model="newProfileObj.funk">Funk 
      <br><input type="checkbox" ng-model="newProfileObj.metal">Metal 
      <br><input type="checkbox" ng-model="newProfileObj.punk">Punk 
      <br><input type="checkbox" ng-model="newProfileObj.folk">Folk 
      <br><input type="checkbox" ng-model="newProfileObj.indie">Indie 
      <br><input type="checkbox" ng-model="newProfileObj.rap">Rap 
      <br><input type="checkbox" ng-model="newProfileObj.electronic">Electronic 

    </div>
    <div class="field">
      <label class="label is-small">Other Genres</label>
      <div class="control">
        <input placeholder="other genres" class="input is-small" type="text" ng-model="newProfileObj.otherGenres"/>
      </div>
    </div>
    <br>
    <div class='centered'>
      <a class="button is-info" ng-click="saveProfile(newProfileObj)">
        <i class="fas fa-save"></i>&nbsp; Save Profile
      </a>
    </div>
    <br>
  </div>

</div>


