<div ng-show="!userArray" id="filterSelect">
  <br>
  Instruments:
  <select ng-model="instrumentSearch" ng-options="instrument as instrument for instrument in instruments">
  </select><br>
  Interests:
  <select ng-model="interestSearch" ng-options="interest for interest in interests">
  </select><br>
  Years of Experience: <input type="number" ng-model="experienceSearch"/>
  <br>Age:<input type="number" ng-model="ageSearch"/><br><br>
  <div ng-show="showAlert"><span style="color: red;">Please select at least on filter!</span></div><br>
  Current Filters:<br>
  {{instrumentSearch}}<br>
  {{interestSearch}}<br>
  {{experienceSearch}}<br>
  {{ageSearch}}<br><br>
  <button ng-click="searchForUsers()">Search</button>
</div>

<div ng-show="userArray">
    <div ng-repeat="otherUser in userArray">
      <a ng-href="#!/profilePage/{{otherUser.uid}}">
        <div class="userBlock">
          <div>Name: {{otherUser.name}}</div>
          <div>Age: {{otherUser.age}}</div>
          <div>Instrument: {{otherUser.instruments}}</div>
          <div>Experience: {{otherUser.experience}} years</div>
          <div>Interests: {{otherUser.interests}}</div>
          <hr>
        </div>
      </a>
    </div>
</div>